body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(97,70,252,0.6505952722886029) 100%);
}

.table {
    padding: 5px;
    margin: auto;   
}

.sidebar {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,117,252,0.6505952722886029) 100%);
    border: 2px solid rgb(237, 195, 238);
    float: left;
    height: 100%;
    width: 250px;
}

.hearts {
    padding: 5px;
    margin-top: 3px;
}

.timer {
    padding: 3px;
    border: 1px solid black;
    margin-top: 0%;
}

.cell {
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;


    height: 48px;
    width: 38px;


    background-color: rgb(242, 229, 229);

    border-bottom: 4px solid rgb(242, 229, 229);
    border-right: 4px solid rgb(242, 229, 229);
    border-top: 4px solid rgb(242, 229, 229);
    border-left: 4px solid rgb(242, 229, 229);

    padding: auto;
}

.mine {
    background-color: red;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
    border-top: 4px solid red;
    border-left: 4px solid red;
}


.win-mine {
    background-color: green;
    border-bottom: 4px solid green;
    border-right: 4px solid green;
    border-top: 4px solid green;
    border-left: 4px solid green;
}

.cell:hover {
    cursor: pointer;
}



.hidden {
    height: 48px;
    width: 38px;

    background-color: rgb(166, 166, 166);
    border-bottom: 4px solid rgb(149, 149, 149);
    border-right: 4px solid rgb(149, 149, 149);
    border-top: 4px solid rgb(253, 253, 253);
    border-left: 4px solid rgb(253, 253, 253);

    padding: auto;
}

.upbar {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,117,252,0.6505952722886029) 100%);
    border: 2px solid rgb(237, 195, 238);
    height: 30%;
    width: auto;
    margin-right: auto;
    margin-left: 262px;
    
   
}

.smile {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(237, 195, 238);
    padding: 5px;
    margin: auto;
    margin-top: 10px;
}

.popup-dif {
    border: 2px solid black;
    margin-top: 5px;
    height: 22px;
    width: auto;
    display: none;
}

.difficulty {
    margin-top: 10px;
}

.footer {   
    position: absolute;
    font-size: x-large;
    font-family: 'Brush Script MT';
    bottom: 2%;
    right: 5%;
}
.board-container {
    height: auto;
}

.undo {
    margin-top: 10px;
}

.creatorMode {
    margin-top: 10px;
}

.popup-size {
    border: 2px solid black;
    margin-top: 5px;
    height: 22px;
    width: auto;
    display: none;
}

.test {
    display: none;
}

.discard {
    display: none;
}

.minecount {
    margin-left: 20px;
}

.hint {
    margin-top: 10px;
}